@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    background: rgb(78, 76, 76);
}

header{
    padding: 1rem 0 0;
}

h1{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-right: auto;
    padding-bottom: 20px;
}

nav{
    display: flex;
    justify-content:space-between;
    padding: 0 20px 0 20px;
}

ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

nav li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 25px;
}

nav li a:hover{
    background:   #e93de680; 
    
}

nav h1 span{
    color:  #e93de6;
}
.image-de-fond{
    background-image: url(./assets/sea-g9cf7be1b1_1920-modif.jpg);
    /* background-attachment: fixed; */
    background-size: cover;
    height: 100vh;
}

.image-de-fond{
    height: 100vh;
    position: relative;
    
}
.image-de-fond img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.image-de-fond img.active{
    opacity: 1;
}

/*******************Modal form******************/

#contact_modal {
    /* display: none; */
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 8;
}

.contact_button {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 40%;
    right: 30%;
    transition: 0.8s;
}

.contact_button:hover{
    background-color: #D3573C;
    transform: scale(1.02);
    box-shadow: 1px 1px 8px 0px  #312e2e;
    color: black;
}

.contact_button:active{
    transform: scale(1.1);
}

.contact_button_form {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 59px;
    border: none;
    background-color: #e93de680;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: auto;
}

.modal {
    border-radius: 5px;
    background-color: #5472ae;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px 35px 100px 35px;;
    margin: auto;
    margin-bottom: -16px;
    animation-name: modalopen;
    animation-duration: 0.8s;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.modal header img {
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 0.4rem;
}

.modal header p {
    font-size: 4rem;
    font-weight: normal;
    margin-bottom: 20px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: rgb(0 0 0 / 60%);
    font-size: 36px;
    margin-bottom: -10px;
    font-size: 2.2rem;
    font-weight: 400;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    background-color: transparent;
    border: 1px solid hsla(0,0%,100%,.9);
}

form input::placeholder{
    color: #daddee;
    font-size: 1rem;
    font-family: inherit;
    padding-left: 10px;
}

textarea{
    resize: none;
    font-size: 1.7rem;
    height: 170px;
    background-color: transparent;
    border: 1px solid hsla(0,0%,100%,.9);
}

textarea::placeholder{
    color: #daddee;
    font-size: 1rem;
    font-family: inherit;
    padding-top: 10px;
    padding-left: 10px;
}

.contact_modal{
    display: block;
}

@keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
    to {
      opacity: 1;
    }
  }

/*******Error Form*********/
.error span{
    font-size: 1.1rem;
    font-weight: 600;
    color: red;
    line-height: 2.2rem;
    width: 90%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px;
    text-align: right;
    padding-right: 10px;
    background: #fcfcc4;
}
  
.error input{
    border: 3px solid red
  } 
  
.formData .text-control:valid{
    border: 3px solid rgb(5, 190, 5)
  }


/************* Section 1 ***************/

.section1{
    background: #e93de680;
    height: 5px;
}
/************* Section 2 Mes réaliations***************/

.section2{
    height: 900px;
    background: #F1F2F6;
}

.section2 h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    padding-top: 55px;
}

.container{
    margin-left: 30px;
    margin-right: 30px;
}

.work-list{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    gap: 80px;
    flex-wrap: wrap;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    object-fit: contain;
    height: 218px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;/*pour zoomer que l'image*/
}

.work .picture1{
    height: 300px;
}

.work .picture2{
    height: 300px;
}

.work .picture3{
    height: 300px;
}

.work .picture4{
    height: 270px;
}

.work .picture5{
    height: 270px;
}
.work:hover img{
    transform: scale(1.1);/*pour zoomer que l'image*/
}
.layer{
    width: 100%;
    height: 0;
    /* background: linear-gradient(rgba(0,0,0,0.6), #155be6); */
    background: linear-gradient(rgba(0,0,0,0.6), rgb(154 154 160));
    /* background: linear-gradient(rgba(0,0,0,0.6), #e93de6); */
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 0.8rem;
    transition: height 0.5s;/*pour faire remonter la couche colorée sur l'image*/
}
.layer h3, p{
    color:  #e6e8f4;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer p{
    margin-bottom: 20px;
}

.layer a{
    text-decoration: none;
    font-size: 1.25rem;
}

.work:hover .layer{
    height: 100%;
}
.fa-arrow-up-right-from-square{
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
}


@media (max-width: 1009px) {

    header{
        padding: 3rem 0rem 0;
    }
    h1{
        margin: auto;
        text-align: center;
    }
    nav{
        position: relative;
        box-shadow: inset 0px -1px 0px #c5c5c6;/*pour faire la bordure sous la barre de navigation*/
    }

    .navlinks-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 100%;
        /* background: #5472ae; */
        background: #bb5cba;
        padding: 15px 22px 15px 20px;
        border-right: 1px solid  #c5c5c6;
        height: 100vh;
        left: -181px;/*pour cacher vers la gauche les li*/
        transition: 0.5s ease-out;/*lent à la fin*/
    }

    .navlinks-container li a{
        border: none;
        padding: 0;
    }
    .navlinks-container li a::after {
        content: "";
        display: block;
        /* position: absolute; */
        /* bottom: -3px; */
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        transform-origin: left;
        background: white;
        transition: transform 0.3s ease-out;
      }
      
      .navlinks-container li a:hover::after {
        transform: scaleX(1)
      }

    .open {
        left: 0;/*pour faire apparaitre les items au clic sur hamburger*/
        z-index: 2;
    }


    /* Hamburger */
.hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 10px;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }
  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }
}

@media (max-width: 1009px) {
    .section2{
        height: 1200px;
    }
}

@media (max-width: 800px) {
    .section2{
        height: 1600px;
    }
}

@media (max-width: 589px) {
    .section2{
        height: 2000px;
    }
}